[data-theme=dark] {
  --primary-color: #e50914;
  --bg: #232323;
  --bg-secondary: #161616b3;
  --text: #ffffff;
}

[data-theme=light] {
  --primary-color: #e50914;
  --bg: #f5f5f5;
  --bg-secondary: #bdbdbdb3;
  --text: #232323;
}

@font-face {
  font-family: "Geist Light";
  src: url("/fonts/Geist-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Medium";
  src: url("/fonts/Geist-Medium.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist SemiBold";
  src: url("/fonts/Geist-SemiBold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Ultrablack";
  src: url("/fonts/Geist-UltraBlack.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Geist Medium", sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p,
span {
  text-wrap: pretty;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  border-radius: 0.25rem;
}

.container {
  width: 90%;
  max-width: 1440px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: end;
}

.m-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-family: "Geist Ultrablack";
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  border: 1px solid var(--bg);
  background-color: var(--text);
  color: var(--bg);
}
.btn-primary-selected, .btn-primary-selected:hover {
  border: 1px solid var(--bg);
  background-color: var(--text);
  color: var(--bg);
}
.btn-primary:hover {
  background-color: var(--bg-secondary);
  border: 1px solid var(--text);
  color: var(--text);
}

.btn-secondary {
  border: 1px solid var(--text);
  background-color: transparent;
  color: var(--text);
}
.btn-secondary:hover {
  background-color: var(--text);
  border: 1px solid var(--bg);
  color: var(--bg);
}

::-webkit-scrollbar {
  background-color: var(--bg);
  color: var(--text);
}

::-webkit-scrollbar-corner {
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text);
}

sup {
  color: var(--primary-color);
  font-size: 1rem;
}

.capitalize {
  text-transform: capitalize;
}

.logo {
  filter: drop-shadow(0px 1px 1px var(--bg));
  max-width: 200px;
}

.steps {
  width: 100%;
  max-width: 800px;
  background-color: var(--bg-secondary);
  border-radius: 0.25rem;
}
.steps__header {
  background-color: var(--bg-secondary);
  padding: 2rem 1rem;
  gap: 1rem;
}
.steps__body {
  padding: 0rem 1rem 2rem 1rem;
}
.steps__footer {
  padding: 0rem 1rem 2rem 1rem;
}
.steps__footer .prev svg {
  transform: rotate(180deg);
}
.steps__footer .confirm svg {
  margin-left: 0.25rem;
}
.steps__buttons {
  gap: 1rem;
}
.steps__buttons button {
  padding: 0.76rem 1rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
  outline: none;
  transition: transform 0.3s ease-in-out;
}
.steps__buttons button.active {
  font-weight: bold;
  background-color: var(--bg);
  color: var(--text);
  transform: scale(1.25);
}
.steps__buttons button.not-allowed {
  cursor: not-allowed;
}
.steps__item {
  padding: 2rem 0;
  display: none;
}
.steps__item.active {
  display: block;
}
.steps__item .content {
  flex-direction: column;
  margin: 2rem 0;
}
.steps .available-hours {
  gap: 1rem;
  background-color: var(--bg-secondary);
  padding: 1rem;
  margin-top: 1rem;
  max-height: 350px;
  overflow-y: scroll;
  border-radius: 0.25rem;
}
.steps .available-hours button {
  display: block;
}
.steps .available-hours.wait {
  max-width: 200px;
  max-height: 350px;
  text-align: center;
  overflow-y: hidden;
}
.steps .info-services {
  margin-top: 2rem;
}
.steps .info-services ul {
  margin-top: 1rem;
}
.steps input {
  appearance: none;
}
.steps input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border: 3px solid var(--primary-color);
  transition: 0.3s;
  background-position: center;
  background-repeat: no-repeat;
}
.steps input:checked::before {
  background-color: var(--primary-color);
  background-image: url(/images/check.svg);
}
.steps label {
  padding: 0.5rem 0 0.5rem 3rem;
  position: relative;
  cursor: pointer;
}
.steps .info {
  gap: 1rem;
}
.steps .info li {
  margin: 0;
}
.steps .info ul {
  margin-bottom: 1rem;
}

form {
  max-width: 500px;
}
form .input-group {
  margin-top: 2rem;
  position: relative;
}
form .input-group label {
  pointer-events: none;
  color: var(--bg-secondary);
  position: absolute;
  padding: 0;
  top: 0.5rem;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out 0.1s;
}
form .input-group .placeholder {
  left: 2rem;
}
form .input-group .placeholder-icon {
  left: 0.25rem;
  top: 0.75rem;
}
form .input-group.remember input::before {
  left: 0;
}
form .input-group.remember label {
  position: relative;
  pointer-events: all;
  top: 0;
  color: var(--text);
  padding: 0.5rem 0 0.5rem 2rem;
}
form .info {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 1rem;
  font-family: "Geist Light", sans-serif;
}
form input[type=email],
form input[type=text],
form textarea {
  width: 100%;
  height: 40px;
  border-radius: 0.25rem;
  padding-left: 2rem;
  outline: 0;
  border: none;
  font-size: 1rem;
  font-family: "Geist Medium";
}
form textarea {
  height: auto;
  padding: 0.5rem 1rem 1rem 2rem;
  resize: none;
}
form .input-group input:focus ~ .placeholder,
form .input-group input:valid ~ .placeholder,
form .input-group textarea:focus ~ .placeholder,
form .input-group textarea:valid ~ .placeholder {
  color: var(--text);
  transform: translate(-1.9rem, -1.5rem);
  font-size: 0.9rem;
}

@media (width > 767px) {
  h2 {
    font-size: 1.5rem;
  }
  .steps__header {
    flex-direction: row;
  }
  .steps__item .content {
    margin: 0;
    flex-direction: row;
  }
  .steps .info {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .steps .info h2 {
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
