.logo {
    filter: drop-shadow(0px 1px 1px var(--bg));
    max-width: 200px;
}

.steps {
    width: 100%;
    max-width: 800px;
    background-color: var(--bg-secondary);
    border-radius: .25rem;

    &__header {
        background-color: var(--bg-secondary);
        padding: 2rem 1rem;
        gap: 1rem;
    }

    &__body {
        padding: 0rem 1rem 2rem 1rem;
    }

    &__footer {
        padding: 0rem 1rem 2rem 1rem;

        .prev {

            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__buttons {
        gap: 1rem;

        button {
            padding: .76rem 1rem;
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            background: none;
            outline: none;
            transition: transform .3s ease-in-out;

            &.active {
                font-weight: bold;
                background-color: var(--bg);
                color: var(--text);
                transform: scale(1.25);
            }

            &.not-allowed{
                cursor: not-allowed;
            }
        }
    }

    &__item {
        padding: 2rem 0;
        display: none;

        &.active {
            display: block;
        }

        .content {
            flex-direction: column;
            margin: 2rem 0;
        }
    }

    .available-hours {
        gap: 1rem;
        background-color: var(--bg-secondary);
        padding: 1rem;
        margin-top: 1rem;
        max-height: 350px;
        overflow-y: scroll;
        border-radius: .25rem;

        button {
            display: block;
        }

        &.wait {
            max-width: 200px;
            max-height: 350px;
            text-align: center;
            overflow-y: hidden;
        }
    }

    .info-services {
        margin-top: 2rem;

        ul {
            margin-top: 1rem;
        }
    }

    input {
        appearance: none;
    }

    input::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        width: 1rem;
        height: 1rem;
        border: 3px solid var(--primary-color);
        transition: .3s;
        background-position: center;
        background-repeat: no-repeat;
    }

    input:checked::before {
        background-color: var(--primary-color);
        background-image: url(/images/check.svg);
    }

    label {
        padding: .5rem 0 .5rem 3rem;
        position: relative;
        cursor: pointer;
    }


}

form {
    max-width: 25rem;

    .input-group {
        margin-top: 2rem;
        position: relative;

        label {
            pointer-events: none;
            color: var(--bg-secondary);
            position: absolute;
            padding: 0;
            top: 0.5rem;
            transition: transform .3s ease-in-out, color .3s ease-in-out .1s;
        }

        .placeholder {
            left: 2rem;
        }

        .placeholder-icon {
            left: .25rem;
            top: 0.75rem;
        }
        &.remember{
            input::before{
                left: 0;
            }
            label{
                position: relative;
                pointer-events: all;
                top: 0;
                color: var(--text);
                padding: 0.5rem 0 0.5rem 2rem;
            }
        }
    }

    input[type=email],
    input[type=text],
    textarea {
        width: 100%;
        height: 40px;
        border-radius: .25rem;
        padding-left: 2rem;
        outline: 0;
        border: none;
        font-size: 1rem;
    }

    textarea {
        height: auto;
        padding: .5rem 1rem 1rem 2rem;
        resize: none;
    }

    .input-group input:focus~.placeholder,
    .input-group input:valid~.placeholder,
    .input-group textarea:focus~.placeholder,
    .input-group textarea:valid~.placeholder {
        color: var(--text);
        transform: translate(-1.9rem, -1.5rem);
        font-size: .9rem
    }
}


@media (width>767px) {
    h2 {
        font-size: 1.5rem;
    }

    .steps {
        &__header {
            flex-direction: row;
        }

        &__item {
            .content {
                margin: 0;
                flex-direction: row;
            }
        }
    }

}